<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.AnswerMapper">

    <insert id="addAnswer" parameterType="Answer">
        insert into answer(paperId, studentId, studentName, answerContext) VALUES (#{paperId},#{studentId},#{studentName},#{answerContext})
    </insert>

    <select id="queryAnswerById" resultType="Answer" parameterType="int">
        select * from answer where answerId = #{answerId} ;
    </select>

    <select id="queryAnswerId" resultType="Answer">
        select * from answer where studentId = #{studentId} AND paperId=#{paperId};
    </select>

    <select id="queryAnswerListByPaperId" resultType="Answer" parameterType="int">
        select * from answer where paperId = #{paperId} ;
    </select>

    <update id="updateScore" >
        UPDATE answer set score=#{score},scoreDescribe=#{scoreDescribe} where  answerId= #{answerId};
    </update>

    <update id="updateMonitorMsg" >
        UPDATE answer set monitorMsg=#{monitorMsg} where answerId = #{answerId};
    </update>



</mapper>