<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>登录</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/global/plugins/uniform/css/uniform.default.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link th:href="@{/assets/global/plugins/select2/css/select2.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/global/plugins/select2/css/select2-bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link th:href="@{/assets/global/css/components-md.min.css}" rel="stylesheet" id="style_components" type="text/css" />
        <link th:href="@{/assets/global/css/plugins-md.min.css}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link th:href="@{/assets/pages/css/login.min.css}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" th:href="favicon.ico" /> </head>
    <!-- END HEAD -->

    <body class=" login">
    <br/><br/><br/><br/><br/><br/><br/>
        <div class="menu-toggler sidebar-toggler"></div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a th:href="index.html">
                <img th:src="@{/assets/pages/img/logo-big.png}" alt="" /> </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->

    <br/><br/>
        <div class="content">
            <!-- BEGIN LOGIN FORM -->

            <form class="login-form" action="index.html" method="post">
                <h3 class="form-title font-green">角 色 选 择</h3>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                </div >
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <a class="btn green btn-outline"  th:href="@{/teacher/login}">管理员</a>
                    </div>
                    <div class="col-md-3">
                        <a class="btn green btn-outline"  th:href="@{/teacher/login}">教 师</a>
                    </div>
                    <div class="col-md-3"></div>
                    </div>
            </form>
            <!-- END LOGIN FORM -->
        </div>

        <!--[if lt IE 9]>
<script th:src="@{/assets/global/plugins/respond.min.js}"></script>
<script th:src="@{/assets/global/plugins/excanvas.min.js}"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script th:src="@{/assets/global/plugins/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/js.cookie.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/uniform/jquery.uniform.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script th:src="@{/assets/global/plugins/jquery-validation/js/jquery.validate.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-validation/js/additional-methods.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/select2/js/select2.full.min.js}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script th:src="@{/assets/global/scripts/app.min.js}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script th:src="@{/assets/pages/scripts/login.min.js}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <!-- END THEME LAYOUT SCRIPTS -->



    </body>

</html>